@CHARSET "UTF-8";

/* index */
@charset "UTF-8";
#title {width : 150px; height :50px; 
				margin: 0 auto; color: #555; margin-top: 100px}
#login-outer-tab {width : 80%; margin: 0 auto; margin-top: 50px; 
				text-align: center}
#login-inner-tab tr{border: 1px solid gray}
#login-inner-tab tr td{border: 1px solid gray}
#login-inner-tab {width: 300px; margin: 0 auto;border: 1px solid gray}
#userid-input {width: 190px; height: 45px}
#password-input {width: 190px; height: 45px}
#login-btn {width: 100px; height: 100px}

/* view */
#wrapper{
	width: 100%;
	height: 100%;
	border: 3px solid gray;
}
#wrapper tr{
	border: 1px solid gray;
}
#wrapper tr td{
	border: 1px solid gray;
}
#side-menu{
	width: 30%;
}
#navi-bar {
    border: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans",
        "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica,
        sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#navi-bar ul {
    background: rgb(109, 109, 109);
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#navi-bar li {
    float: left;
    padding: 0px;
}
#navi-bar li a {
    background: rgb(109, 109, 109);
    color: #cccccc;
    display: block;
    font-weight: normal;
    line-height: 50px;
    margin: 0px;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
}
#navi-bar li a:hover, #navi-bar ul li:hover a {
    background: rgb(71, 71, 71);
    color: #FFFFFF;
    text-decoration: none;
}
#navi-bar li ul {
    background: rgb(109, 109, 109);
    display: none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    width: 200px;
    z-index: 200;
    /*top:1em;
/*left:0;*/
}
#navi-bar li:hover ul {
    display: block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}
#navi-bar li li {
    background: rgb(109, 109, 109);
    display: block;
    float: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
}
#navi-bar li:hover li a {
    background: none;
}
#navi-bar li ul a {
    display: block;
    height: 50px;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    padding: 0px 10px 0px 15px;
    text-align: left;
}
#navi-bar li ul a:hover, #navi-bar li ul li:hover a {
    background: rgb(71, 71, 71);
    border: 0px;
    color: #ffffff;
    text-decoration: none;
}
#navi-bar p {
    clear: left;
}
#footer{
	hight: 100px;
}